[mysqld]
skip-host-cache
skip-name-resolve

user                  = mysql
default-storage-engine= InnoDB
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
lower-case-table-names= 1
max-connections       = 200
max-connect-errors    = 600

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
